/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v1 {
    background-color: #fffffd;
    padding: 3% 3% 3% 3%; /* top right bot left */
    border-radius: 10px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

div.css-12w0qpk.e1tzin5v1 {
  background-color: #ffffff;
  padding: 3% 3% 3% 3%;
  border-radius: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
